@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  color: var(--color-text);
  background-color: var(--color-background);
}
body {
  @apply transition-colors duration-300;
  font-feature-settings: 'rlig' 1, 'calt' 1;
  margin: 0;
  padding: 0;
}

@keyframes slideDown {
  0% {transform: translateY(-100%); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}
@keyframes fadeFromTop {
  0% {transform: translateY(-15px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}
@keyframes slideUp {
  0% {transform: translateY(100%); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}
@keyframes zoomFadeIn {
  0% {transform: scale(0.8); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

.navbar {
  @apply text-xl px-6 py-2 flex items-center gap-8 border shadow-sm sticky top-2 rounded-full backdrop-blur-sm transition-all duration-300 hover:shadow-2xl z-50;
  animation: slideDown 0.7s ease-out forwards;
}
.navbar::before {
  content: "";
  @apply absolute -inset-2 rounded-full bg-gradient-to-br from-red-600 via-green-700 to-blue-700 opacity-90 blur-2xl;
  z-index: -1; 
}
.navbar-light {@apply bg-white/70 border-black text-black;}
.navbar-dark {@apply bg-black/70 border-white text-white;}

.nav-link {
  @apply transition-all duration-300 ease-in-out hover:font-bold hover:underline;
}
.nav-link:hover {
  transform: scale(1.1) translateY(-3px);
}
.nav-link:active {
  transform: scale(0.5);
  transition-duration: 150ms;
}

.theme-toggle-btn {
  @apply ml-auto px-4 py-1 border rounded-full text-xl transition-all duration-300 ease-in-out dark:text-white  hover:bg-gray-200 dark:hover:bg-gray-400 active:scale-95 active:shadow-inner z-50 shadow-lg;
}
.theme-toggle-btn:hover {
  transform: translateY(-1px);
}

@keyframes navbarSlide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-navbarSlide {
  animation: navbarSlide 0.8s ease-out forwards;
}

.footer{
  @apply backdrop-blur-md text-center shadow-[0_-2px_4px_rgba(255,0,0,0.3)] w-full transition-all duration-300 bg-gradient-to-br from-gray-50 via-black/10 to-gray-50 opacity-90 ;
  animation: slideUp 0.7s ease-out forwards;
}

.search-bar{
  @apply p-2 border rounded backdrop-blur-md focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-500 dark:placeholder-white/100 transition shadow-[0_4px_6px_rgba(255,255,255,0.5)];
  position: relative; 
  animation: fadeFromTop 0.6s ease-out forwards;
}
.search-bar:focus {
  animation: zoomFadeIn 0.4s ease-out forwards;
}
.search-bar-l{@apply bg-white/20 border-black text-black ring-black shadow-[0_4px_6px_rgba(0,0,0,0.5)];}

.category-select {
  @apply p-2 border border-blue-400 rounded-lg bg-black/40  text-white backdrop-blur-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-200 shadow-[0_4px_6px_rgba(255,255,255,0.5)];
  animation: fadeFromTop 0.6s ease-out forwards;
}
.cat-l{
  @apply  shadow-[0_4px_6px_rgba(0,0,0,0.5)] focus:ring-blue-500 border-blue-400;
}
.category-select:focus { animation: zoomFadeIn 0.7s ease-out forwards; }
.category-select option {@apply bg-black/5 text-white transition-all;}

@keyframes glow-card {
  0% {
    box-shadow: 
      10px 0 20px rgba(255, 0, 238, 0.4),    
     -10px 0 20px rgba(242, 214, 0, 0.4),    
      0 10px 20px rgba(0, 255, 93, 0.4),     
      0 -10px 20px rgba(0, 79, 250, 0.4);     
  }
  50% {
    box-shadow: 
      10px 0 30px rgba(255, 0, 238, 0.7),
     -10px 0 30px rgba(242, 214, 0, 0.7),
      0 10px 30px rgba(0, 244, 89, 0.792),
      0 -10px 30px rgba(0, 69, 218, 0.7);
  }
  100% {
    box-shadow: 
      10px 0 20px rgba(255, 0, 238, 0.4),
     -10px 0 20px rgba(242, 214, 0, 0.4),
      0 10px 20px rgba(0, 255, 93, 0.4),
      0 -10px 20px rgba(0, 79, 250, 0.4);
  }
}

.product-item {
  @apply backdrop-blur-md p-3 rounded-lg transition-transform duration-300 ease-out shadow-lg mx-auto w-full max-w-xs;
}
.product-item:hover {
  @apply scale-105 shadow-2xl;
  animation: glow-card 1.5s infinite alternate ease-in-out;
}

.favorite-btn {
  @apply absolute top-2 right-2 px-1 py-0.5 rounded transition-all duration-200 ease-out;
}
.favorite-btn:hover {
  @apply scale-110;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
@keyframes bubbleClick {
  0%   { transform: scale(1); }
  30%  { transform: scale(0.85); }
  60%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}
.favorite-btn:active {
  animation: bubbleClick 0.4s ease-out forwards;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.pagination-wrapper {
  @apply flex justify-center space-x-2 mt-4;
  animation: tracking-in-expand-fwd 0.9s cubic-bezier(0.2, 0.4, 0.4, 0.9) 0s 1 normal both;
  animation-timeline: view();
  animation-range: 60 1;
}

.pagination-btn {
  @apply px-3 py-1 border rounded text-white transition-all duration-200;
  background-color: #1e3a8a; 
  border-color: #2563eb;   
  animation-timeline: view();
  animation-range: 0 1;
}

.pagination-btn:hover {
  @apply scale-105;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5), 0 0 15px rgba(34, 197, 94, 0.4);
  background-color: #3b82f6; 
}

.pagination-btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
  }
}

.pagination-key {
  @apply px-3 py-1 border rounded transition-all duration-300 ease-in-out;
}
.pagination-key:hover {
  animation: glow 1.5s infinite alternate;
}

.back-btn {
    @apply mb-4 px-4 py-2 rounded transform shadow-lg transition-all duration-300 hover:scale-105; 

  &:active {
      animation: bubbleClick 0.8s ease-out forwards;
    }
}
.back-btn-l {
  @apply px-2 py-1 bg-white/70 border-gray-300 text-black shadow-[0_4px_6px_rgba(0,0,0,0.5)] hover:shadow-[0_0_20px_rgba(0,0,0,0.7)];
}
.back-btn-d {
  @apply px-2 py-1 bg-black/70 border-gray-700 text-white shadow-[0_4px_6px_rgba(255,255,255,0.5)] hover:shadow-[0_0_20px_rgba(255,255,255,0.7)];
}

@keyframes bubbleClick {
    0%   { transform: scale(1); }
    30%  { transform: scale(1.3); }
    50%  { transform: scale(0.7); }
    70%  { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.thumbnail {
    @apply w-17 h-17 object-cover rounded cursor-pointer border-2 duration-300 ml-2 mr-2;

    &:hover {
      @apply scale-105;
    }
}

@layer utilities {
  .remove {
    @apply transition-transform duration-5000 ease-in-out opacity-100;
  }

  .remove-active {
    @apply scale-0 opacity-0;
  }
}

.title{
  @apply text-lg font-semibold mb-2 overflow-hidden text-ellipsis whitespace-nowrap transition-all duration-500;
  animation: tracking-in-expand-fwd 1s ease-out forwards;
}
.title:hover {
  @apply scale-102 text-red-400 overflow-visible max-w-full;
    animation: tracking-in-expand-fwd 0.8s ease-out forwards;
}

.main-head{
  @apply text-4xl md:text-5xl font-extrabold text-center mb-10 mt-5 bg-gradient-to-l from-pink-500 via-green-500 to-blue-500 text-transparent bg-clip-text;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.334), 0 0 12px rgba(0, 255, 200, 0.656);
}

.img-txt{
  @apply flex items-center justify-center;
}

.loading{
  @apply flex flex-col items-center justify-center mt-20 text-2xl;
}

.cat-hed {
  @apply text-4xl md:text-5xl font-extrabold text-center mb-10 mt-5 drop-shadow-lg bg-gradient-to-t from-green-500 via-blue-500 to-red-500 text-transparent bg-clip-text;
}
.cat-hed::first-letter {
  text-transform: uppercase;
}

.cart-btn {
    @apply absolute bottom-2 right-2 px-2 py-1 text-xs border-black rounded text-white flex flex-col items-center justify-center text-center transition-all duration-200 ease-out backdrop-blur-sm shadow-lg;
}
.cart-btn:hover {
    @apply scale-110;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.cart-btn:active {
    animation: bubbleClick 0.8s ease-out forwards;
    background-color: #f97316;
}

.discount{
  @apply bg-red-600 text-white px-2 py-1 text-sm font-semibold w-fit rounded-r-md absolute top-0 left-0;;
}

.rating-text {
  text-shadow:
    1px 1px 2px #000000,
    1px 0 5px #fffb00,
    0 0 10px #000000;
}

.max-h-56::-webkit-scrollbar {
  width: 6px;
}

.max-h-56::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.max-h-56::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-600 rounded-full;
}

.max-h-56::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-500;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

main {
  @apply flex-1;
}

.sticky{ z-index: 40;}

.smooth-fade-enter {
    opacity: 0;
    transform: scale(0.95);
}

.smooth-fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.slide-fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.slide-fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.slide-fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.slide-fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}